.coverImage {
  width: 75%;
  height: 50%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  /*
  transform-origin: 0% 0%;
  transition: all 0.3s ease-in;
  */
}

.coverImage img {
    height: 100%;
    margin: auto;
    display: block;
}

.screen > #magicButton:checked ~ .coverImage {
  transform: scale(0.251, 0.251);
  left: 23px;
  top: 60px;
  transition: all 0.3s ease-in;
  border-radius: 20px;
}
