.footer {
  background: none;
  font-family: FontAwesome;
  color: #6d6d6d;
  font-size: 15px;
  line-height: 15px;
  height: 15%;
  width: 50%;
  position: absolute;
  top: 85%;
  left: 25%;
  z-index: 20;
  transition: all 0.15s linear;
  transition: bottom 0.3s linear;
  text-align: center;
}

.footer td {
    width: 25%;
    height: 100%;
}

.screen > #magicButton:checked ~ .footer {
  bottom: -60px;
  transition: all 0.3s ease-in;
}
